@charset "UTF-8";
body {
    margin: 0;
    background-color:#7ed0ff;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  a{
    text-decoration:none
  }
  
  .hidden {
    display: none;
  }
  
  .landingpage {
    margin: 0 auto;
    padding: 0 20vh;
    position: relative;
    background-color: #7ed0ff;
  }
  .landingpage::before {
    content: "";
    position: absolute;
    width: 32.650073206442165vw;
    height: 88.5vh;
    left: 90%;
    top: 82.07vh;
    filter: blur(80px);
  }

  .landingpage .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 156vh;
    height: 5vw;
  }
  .landingpage .box {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 10.390243902439025vh;
  }
  .landingpage .auction {
    margin-top: 30.48780487804878vh;
  }
  .landingpage .discover {
    display: flex;
    flex-direction: column;
  }
  
  .navbar .hamburgerlogowrap {
    display: flex;
    align-items: center;
  }
  .createbtn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 130px;
    height: 36px;
    color: #ffffff;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
  }

 
  .navbar .navlink {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    color: #ffffff;
  }
   .navlink.selectedlink:hover {
    background: #ff85a2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1.5px solid #ff85a2;
    transition: 0.5s;
  }
 .logoimg{
  position: relative;
  left: -5vw;
 }
  #Ini{
    position: relative;
    left: -2vw;
  }
  #cu{
    position: relative;
    left: -1vw;
  }
  #co{
    position: relative;
    left: 1vw;
  }
  #login {
    font-size: 1rem;
  }
  #cadas{
    font-size: 1rem;
  }
  .box .infobox {
    animation-name: leftslide;
    animation-duration: 1.7s;
    max-height: 7100px;
    max-width: 100%;
    overflow: hidden;
  }
  .box .infobox-boldtext {
    margin: 0;
    font-family: Poppins;
    color: #ffffff;
    font-size: 65px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -2px;
    text-align: left;
  }
  .box .infobox-slimtext {
    margin: 24px 0;
    font-family: Poppins;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-align: left;
  }
  .box .infobox-btnwrapper {
    display: flex;
  }
  .box .infobox-explorebtn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1d2b;
    padding: 8px 38px;
    border-radius: 16px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: -1px;
    color: #ffffff;
  }
  .box .infobox-createbtn {
    cursor: pointer;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 8px 38px;
    border: 1px solid #000000;
    border-radius: 16px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: -1px;
    color: #ffffff;
  }
  .box .infobox .selected {
    border: none;
    transition: 2s;
    background: #ff85a2;
    
  }

  .box .display {
    animation: forwards 2s;
    animation-name: rightslide;
    padding: 16px;
    border: 1px solid;
    background: linear-gradient(169.44deg, #3a81bf14 1.85%, #41305a14 98.72%);
    border-radius: 35px;
    max-height: 450px;
    max-width: 50%;
    overflow: hidden;
  }
  .box .display-nft {
    object-fit: cover;
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    border-radius: 20px;
  }
  .box .display .infowrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  .box .display .info {
    display: flex;
    align-items: center;
    font-family: "Poppins";
    font-style: normal;
    color: #ffffff;
    font-weight: 700;
    font-size: 12px;
  }
 
  .box .display .info-img {
    object-fit: cover;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .started {
    margin-top: 38px;
    display: flex;
    flex-direction: column;
  }
  .started-boldtext {
    margin: 0;
    align-self: center;
    font-family: "Poppins";
    font-style: normal;
    color: #ffffff;
    font-weight: 500;
    font-size: 40px;
    line-height: 72px;
  }
  .started-slimtext {
    margin: 0;
    align-self: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.5px;
    color: #ffffff;
  }
  .started-items {
    padding: 60px 80px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: space-between;
  }
  .started-items:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    top: 80px;
    filter: blur(80px);
    background: linear-gradient(93.51deg, #367da7 2.84%, #367da7 99.18%);
  }
  .started-items .itemwrapper p {
    width: 100px;
    margin: 0;
    margin-top: 10px;
    text-align: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
  }
  .started-items-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 18px;
    background-color: #ff85a2;
    background: #ff85a2d8;
    box-shadow: inset 2.01px -2.01px 20px #d6d6d62b, inset -3.01333px 3.01333px 3.01333px #ffffff63;
    backdrop-filter: blur(74.4293px);
  }
  .footer2 p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 36px;
    color: #ffffff;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    justify-self: center;
  }
  .item-img {
    object-fit: cover;
    flex-shrink: 0;
    width: 200px;
    height: 220px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
  }
  .item-img:hover {
    transform: scale(1.05);
  }
  .item-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(0, 0, 0);
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: #ffffff;
  }
  .item-date {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #ffffff;
  }
  
 
  
  @media screen and (max-width: 1500px) {
    .landingpage {
      max-width: 1200px;
    }
  }
  @media screen and (max-width: 1040px) {
    .box {
      flex-direction: column;
    }
    .box .infobox {
      max-height: 450px;
      max-width: none;
      margin-bottom: 50px;
    }
    .box .display {
      display: none;
      max-height: none;
      max-width: none;
    }
  
    .auction .nft {
      grid-template-columns: auto auto;
      justify-content: space-around;
    }
  
    .discover-items {
      grid-template-columns: auto auto auto;
      justify-content: space-around;
    }
  
    .footer {
      flex-direction: column;
    }
    .footer-main {
      max-width: 80%;
      margin-bottom: 50px;
      text-align: center;
    }
    .footer-navigate .nav:first-child {
      margin: 0;
    }
  }
  @media screen and (max-width: 925px) {
    .navlinkwrap {
      display: none;
    }
    .navlinkwrap{
      background-color: #ff85a2;
    }
  
    .buttonwrap {
      display: none;
      
    }
  
    .hamburger {
      display: flex !important;
      align-items: center;
    }
  
    .started-slimtext {
      text-align: center;
    }
  }
  @media screen and (max-width: 825px) {
    .started-items {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-evenly;
      padding: 50px 0;
    }
    .started-items:before {
      height: 200px;
      top: 90px;
      filter: blur(120px);
    }
  
    .discover-items {
      grid-template-columns: auto auto;
      justify-content: space-around;
    }
  }
  @media screen and (max-width: 700px) {
    .box {
      flex-direction: column;
    }
    .box .infobox {
      max-height: none;
      max-width: none;
      margin-bottom: 50px;
    }
    .box .display {
      display: block;
      max-height: none;
      max-width: none;
    }
  
    .discover-title {
      justify-content: center;
    }
    .discover-title .filters {
      display: none;
    }
  
    .auction .title {
      justify-content: center;
    }
    .auction .title .titleslim {
      display: none;
    }
  }
  @media screen and (max-width: 600px) {
    .landingpage {
      padding: 0 20px;
    }
  
    .box .infobox-boldtext {
      font-size: 45px;
      line-height: 50px;
    }
    .box .infobox-slimtext {
      font-size: 12px;
      line-height: 16px;
    }
  
    .discover-items {
      grid-template-columns: auto;
      justify-content: space-around;
    }
  
    .auction .nft {
      grid-template-columns: auto;
      justify-content: space-around;
    }

  }
  @media screen and (max-width: 480px) {
    .landingpage .box .infobox-boldtext {
      font-size: 32px;
      line-height: 1.4em;
      text-align: center;
    }
    .landingpage .box .infobox-slimtext {
      text-align: center;
    }
    .landingpage .box .infobox-btnwrapper {
      justify-content: center;
    }
  }
  @keyframes leftslide {
    from {
      transform: translateX(-700px);
    }
    to {
      transform: translateX(0px);
    }
  }
  @keyframes rightslide {
    from {
      transform: translateX(550px);
    }
    to {
      transform: translateX(0px);
    }
  }