* {
    font-family: Helvetica;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    background: #7ed0ff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
  }
  .card {
    background: #7ed0ff;
    width: 400px;
    height: 800px;
    padding: 20px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    font-family: Arial;

  }

  /* borda */
  /* .card::after {
    content: "";
      width: 104%;
      height: 102%;
      border-radius: 8px;
      background-image: linear-gradient(
        var(--rotate),
        #fda7bb,
        #fda7bb
      );
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
      display: none;
    }

     */
  
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  
  /* ----------------------------------------------------------------------------------------------------------- */
  
  #modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 10;
    width: 400px;
    padding: 40px;
    height:730px;
    
    border-style: solid;
    border-color:black;
    border-width:5px;
    border-radius: 6px;
    transition: 1s;
    opacity: 1;
    pointer-events: all;
  }
  
  .pata {
    padding: 0.6rem 1.2rem;
    background-color: transparent;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    opacity: 1;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    transition-property: all;
    transition-duration: 0.5s;
    margin-top: -40%;
  }
  
  .pata:hover {
  transform: scale(1.1);
  }
  
  .final {
    padding: 0.6rem 1.2rem;
    background-color: #E1738C ;
    color: #fff;
    border-radius: 0.25rem;
    cursor: pointer;
    opacity: 0.8;
    font-size: 1rem;
    border:solid black 3px;
  }
  
  button:hover {
    opacity: 1;
    
    color:black;
    transition-property: all;
    transition-duration: 0.4s;
    
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
  
  #modal.hide{
    opacity: 0;
    pointer-events: none;
  }
  
  #modal.hide {
    top: 50%;
  }
  
  /* -------------------------------------------------------------------------------------------- */
  
  
  
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #E1738C;
    text-align: center;
    letter-spacing: 1px;
  }
  
  
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #8b4c5b;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #E1738C;
    outline: none;
    background: transparent;
    
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #E1738C;
    pointer-events: none;
    transition: .5s;
    letter-spacing: 1px;
  }


  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #E1738C;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    
    padding: 10px 20px;
    color: #E1738C;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    margin-left: 25px;
  }
  
  .login-box a:hover {
    background: #E1738C;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px #E1738C;
    
  }


/* ----------------------------------------------------------------------------------------------------------------------------------- */
input[type=checkbox]{
  --active: #000000;
  --active-inner: #fff;
  --focus: 2px rgba(39, 94, 254, 0.3);
  --border: #bbc1e1;
  --border-hover: #275efe;
  --background: #fff;
  --disabled: #f6f8ff;
  --disabled-inner: #e1e6f9;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 21px;
  outline: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
  cursor: pointer;
  border: 1px solid var(--bc, var(--border));
  background: var(--b, var(--background));
  transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
}

input[type=checkbox]:after{
  content: "";
  display: block;
  left: 0;
  top: 0;
  position: absolute;
  transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
}
input[type=checkbox]:checked{
  --b: var(--active);
  --bc: var(--active);
  --d-o: 0.3s;
  --d-t: 0.6s;
  --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
input[type=checkbox]:disabled {
  --b: var(--disabled);
  cursor: not-allowed;
  opacity: 0.9;
}
input[type=checkbox]:disabled:checked{
  --b: var(--disabled-inner);
  --bc: var(--border);
}
input[type=checkbox]:disabled + label {
  cursor: not-allowed;
}
input[type=checkbox]:hover:not(:checked):not(:disabled){
  --bc: var(--border-hover);
}
input[type=checkbox]:focus{
  box-shadow: 0 0 0 var(--focus);
}
input[type=checkbox]:not(.switch){
  width: 21px;
}
input[type=checkbox]:not(.switch):after {
  opacity: var(--o, 0);
}
input[type=checkbox]:not(.switch):checked{
  --o: 1;
}
input[type=checkbox] + label{
  font-size: 14px;
  line-height: 21px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  margin-left: 4px;
}

input[type=checkbox]:not(.switch) {
  border-radius: 7px;
}

input[type=checkbox]:not(.switch):after {
  width: 5px;
  height: 9px;
  border: 2px solid var(--active-inner);
  border-top: 0;
  border-left: 0;
  left: 7px;
  top: 4px;
  transform: rotate(var(--r, 20deg));
}
input[type=checkbox]:not(.switch):checked {
  --r: 43deg;
}


*:before, *:after {
box-sizing: inherit;
}