@charset "UTF-8";
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
} 

:root {
  --card-height: 60vh;
  --card-width: calc(var(--card-height) / 1.5);
}

body {
  min-height: 100vh;
  background: #80C0E4;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 4rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}

.card {
  background: #ffffff;
  width: 400px;
  height: 700px;
  padding: 20px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  font-family: Arial;
}
.card::before {
  content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate),
      #81dbff,
      #fda7bb
    );
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
  }


@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.pata{
    cursor: pointer;
    text-decoration: none;
    position:absolute;
    opacity: 100;
    z-index:100;
    transition-property: all;
    transition-duration: 0.5s;
}


.pata:hover {
  transform: scale(1.1);
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------- */

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  
  box-sizing: border-box;
  
  border-radius: 10px;
  margin-top: 2vh
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fda7bb;
  text-align: center;
  letter-spacing: 1px;
}



.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fda7bb;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fda7bb;
  outline: none;
  background: transparent;
  
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fda7bb;
  pointer-events: none;
  transition: .5s;
  letter-spacing: 1px;
}


.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #fda7bb;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #fda7bb;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box a:hover {
  background: #fda7bb;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 5px #fda7bb;
  
}

