@charset "UTF-8";
body {
    margin: 0;
    background-color:#7ed0ff;
    overflow-x: hidden;

  }
  a{
    text-decoration:none
  }
  
  .hidden {
    display: none;
  }
  
  .landingpage {
    margin: 0 auto;
    padding: 0 10vh;
    position: relative;
    background-color: #7ed0ff;
  }
  .landingpage::before {
    content: "";
    position: absolute;
    width: 32.650073206442165vw;
    height: 38.5vh;
    left: 90%;
    top: 42.07vh;
    filter: blur(80px);
  }

 
  .landingpage .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150vh;
    height: 5vw;
  }
  .landingpage .box {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 24.390243902439025vh;
  }
  .landingpage .auction {
    margin-top: 30.48780487804878vh;
  }
  .landingpage .discover {
    display: flex;
    flex-direction: column;
  }
  
  .navbar .hamburgerlogowrap {
    display: flex;
    align-items: center;
  }
  .navbar .hamburger {
    display: none;
    color: #ffffff;
    background-color: #ffffff;
    border: none;
    margin-right: 1vw;
  }
  .navbar .createbtn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 5vw;
    height: 1vh;
    color: #ffffff;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
  }

 
  .navbar .navlink {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    color: #ffffff;
  }
  .navbar .navlink.selectedlink:hover {
    background: #ff85a2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1.5px solid #ff85a2;
    transition: 0.5s;
  }
  #Ini{
    position: relative;
    left: -2vw;
  }
  #cu{
    position: relative;
    left: -1vw;
  }
  #co{
    position: relative;
    left: 1vw;
  }
  #login {
    font-size: 1rem;
  }
  #cadas{
    font-size: 1rem;
  }


  .item-img {
    align-items: center;
    justify-content: center;
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
  }
  .item-img:hover {
    transform: scale(1.05);
  }
  .item-title {
    display: flex;
    align-items: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 24px;
    color: #ffffff;
  }



.cu{
  border-radius: 10px;
  width: 40vh;
  height: 25vw;
  border: solid  #ffffff;
 display: inline-block;
  margin-left: 1vw;
  
 align-items: center;
}
.margem{
  margin-top: 15vh;
}


