@charset "UTF-8";
body {
    margin: 0;
    background-color:#7ed0ff;
  }
  a{
    text-decoration:none
  }
  
  .hidden {
    display: none;
  }
  
  .landingpage {
    margin: 0 auto;
    padding: 0 300px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #7ed0ff;
  }
  .landingpage::before {
    content: "";
    position: absolute;
    width: 223px;
    height: 123px;
    left: 90%;
    top: 138px;
    filter: blur(80px);
  }
  .landingpage::after {
    content: "";
    position: absolute;
    width: 123px;
    height: 123px;
    left: 80%;
    top: 550px;
    filter: blur(80px);
  }
 
  .landingpage .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150vh;
    height: 5vw;
  }
  .landingpage .box {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 80px;
  }
  .landingpage .auction {
    margin-top: 100px;
  }
  .landingpage .discover {
    display: flex;
    flex-direction: column;
  }
  .landingpage .footer {
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .landingpage .footer2 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-top: 1px solid #000000;
  }
  
  .navbar .hamburgerlogowrap {
    display: flex;
    align-items: center;
  }
  .navbar .hamburger {
    display: none;
    color: #000000;
    background-color: #ffffff;
    border: none;
    margin-right: 10px;
  }
  .navbar .createbtn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    width:130px;
    height: 36px;
    color: #000000;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
  }
  .navbar .createbtn.selectedbtn {
    border: 1px solid #000000;
    border-radius: 10px;
  }
  .navbar .navlogo {
    height: 100%;
    background: linear-gradient(93.51deg, #ff85a2 21.84%, #ff85a2 99.18%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
  }
  .navbar .navlink {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    color: #000000;
  }
  .navbar .navlink.selectedlink:hover {
    background: #ff85a2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1.5px solid #ff85a2;
    transition: 0.5s;
  }
  .navbar .navlink:not(:last-child) {
    margin-right: 32px;
  }
  #Ini{
    position: relative;
    left: -2vw;
  }
  #cu{
    position: relative;
    left: -1vw;
  }
  #co{
    position: relative;
    left: 1vw;
  }
  #login {
    font-size: 1rem;
  }
  #cadas{
    font-size: 1rem;
  }


  .item-img {
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
  }
  .item-img:hover {
    transform: scale(1.05);
  }
  .item-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 24px;
    color: #000000;
  }

