@charset "UTF-8";
body {
    margin: 0;
    background-color:#7ed0ff;
    height: 100%;
    overflow-x: hidden;
  }
  a{
    text-decoration:none
  }
  
  .hidden {
    display: none;
  }
  
  .landingpage {
    margin: 0 auto;
    padding: 0 20vh;
    position: relative;
    background-color: #7ed0ff;
  }
  .landingpage::before {
    content: "";
    position: absolute;
    width: 32.650073206442165vw;
    height: 88.5vh;
    left: 90%;
    top: 82.07vh;
    filter: blur(80px);
  }

 
  .landingpage .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150vh;
    height: 5vw;
  }
  .landingpage .box {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 10.390243902439025vh;
  }
  .landingpage .auction {
    margin-top: 48780487804878vh;
  }
  .landingpage .discover {
    display: flex;
    flex-direction: column;
  }
  
  .navbar .hamburgerlogowrap {
    display: flex;
    align-items: center;
  }

  .navbar .createbtn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    width:130px;
    height: 36px;
    color: #ffffff;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
  }


  .navbar .navlink {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    color: #ffffff;
  }
  .navbar .navlink.selectedlink:hover {
    background: #ff85a2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1.5px solid #ff85a2;
    transition: 0.5s;
  }

  .navbar .navlink:not(:last-child) {
    margin-right: 32px;
  }
  .logoimg{
    position: relative;
    left: -5vw;
   }
  #Ini{
    position: relative;
    left: -2vw;
  }
  #cu{
    position: relative;
    left: -1vw;
  }
  #co{
    position: relative;
    left: 1vw;
  }
  #login {
    font-size: 1rem;
  }
  #cadas{
    font-size: 1rem;
  }

/*LOGOS*/
.logos{
  position: relative;
  left: 19vw;
  top: 20vh;

}
.petz{
  position: relative;
  border-radius: 100px;
  width: 150px;
  left: -40vh;
}
.cobasi{
  position: relative;
  border-radius: 100px;
  left: -15vh;
  width: 150px;
}
.petlove{
  position: relative;
  border-radius: 100px;
  left: 15vh;
  width: 150px;
}
.caesegatos{
  position: relative;
  border-radius: 100px;
  background-color: #ffffff;
  width: 150px;
  left: 40vh;
}
.texto-geral{
  position: relative;
  font-family: "Poppins";
  font-style: normal;
  color: #ffffff;
  left: 40vh;

}
.texto-1{
  position: relative;
  left: -45vh;
  top: 10vw;
}
.texto-2{
  position: relative;
  left: -5vh; 
  top: 4vw;
}
.texto-3{
  position: relative;
  left: 40vh;
  top: -0.8vw;
}
.texto-4{
  position: relative;
  left: 80vh;
  top: -11vh;
}